# Project 3

In [9]:
# Configure Jupyter so figures appear in the notebook
%matplotlib inline

# Configure Jupyter to display the assigned value after an assignment
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

# import functions from the modsim.py module
from modsim import *
from numpy import *

In [12]:
m = UNITS.meter
s = UNITS.second
kg = UNITS.kilogram
degree = UNITS.degree

In [14]:
params = Params(x = 0 * m, 
                y = 5000 * m,
                g = 3.7 * m/s**2,
                mass = 900 * kg,
                diameter = 1.5 * m,
                rho = 1.2 * 0.006 * kg/m**3,
                C_d = 0.3,
                angle = 45 * degree,
                velocity = 50 * m / s,
                t_end = 20 * s)

x                                0 meter
y                             5000 meter
g                3.7 meter / second ** 2
mass                        900 kilogram
diameter                       1.5 meter
rho         0.0072 kilogram / meter ** 3
C_d                                  0.3
angle                          45 degree
velocity             50.0 meter / second
t_end                          20 second
dtype: object

In [15]:
def make_system(params):
    """Make a system object.
    
    params: Params object with angle, velocity, x, y,
               diameter, duration, g, mass, rho, and C_d
               
    returns: System object
    """
    unpack(params)
    
    # convert angle to degrees
    theta = np.deg2rad(angle)
    
    # compute x and y components of velocity
    vx, vy = pol2cart(theta, velocity)
    
    # make the initial state
    init = State(x=x, y=y, vx=vx, vy=vy)
    
    # compute area from diameter
    area = np.pi * (diameter/2)**2
    
    return System(params, init=init, area=area)

In [16]:
def drag_force(V, system):
    """Computes drag force in the opposite direction of `V`.
    
    V: velocity
    system: System object with rho, C_d, area
    
    returns: Vector drag force
    """
    unpack(system)
    mag = -rho * V.mag**2 * C_d * area / 2
    direction = V.hat()
    f_drag = mag * direction
    return f_drag

In [17]:
def slope_func(state, t, system):
    """Computes derivatives of the state variables.
    
    state: State (x, y, x velocity, y velocity)
    t: time
    system: System object with g, rho, C_d, area, mass
    
    returns: sequence (vx, vy, ax, ay)
    """
    x, y, vx, vy = state
    unpack(system)

    V = Vector(vx, vy)    
    a_drag = drag_force(V, system) / mass
    a_grav = Vector(0, -g)
    
    a = a_grav + a_drag
    
    return vx, vy, a.x, a.y

In [18]:
def event_func(state, t, system):
    """Stop when the y coordinate is 0.
    
    state: State object
    t: time
    system: System object
    
    returns: y coordinate
    """
    x, y, vx, vy = state
    return y

In [20]:
make_system(params)

x                                                     0 meter
y                                                  5000 meter
g                                     3.7 meter / second ** 2
mass                                             900 kilogram
diameter                                            1.5 meter
rho                              0.0072 kilogram / meter ** 3
C_d                                                       0.3
angle                                               45 degree
velocity                                  50.0 meter / second
t_end                                               20 second
init        x                              0 meter
y      ...
area                            1.7671458676442586 meter ** 2
dtype: object

In [22]:
drag_force(velocity, system)

NameError: name 'system' is not defined